<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
</head>
<body>
<form>
	 <div class="head">
	    <button type="button" onclick="location.href='/login'" >登录</button>
	    <button type="button" onclick="location.href='/regist'">注册</button>
   </div>
    
</form>
</body>
</html>