<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/> 
</head>
<body>
 
<form action="/users/form1" method="post">
	 <div class="form-group login">
	     <label for="exampleInputName2">用户名</label>
	     <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="user">
	      <label for="exampleInputEmail1">邮箱地址</label>
	     <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
	     <label for="exampleInputPassword1">密码</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pass">
	    <button type="submit" class="btn btn-default registButton">登录</button>
     </div>
</form>
</body>
</html>