<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
</head>
<body>
	<div class="information">
	 	 <img class="xixi" src="/images/xixi.jpg"/>
	 	 <span>'糖小茜' ~~</span>
	 </div>
	 <div class="wrap">
	 	<div class="top">
	 	  <a onclick="location.href='/'">小感悟·</a>
	 	  <a onclick="location.href='/sui'">小随笔</a>
	 	  <a onclick="location.href='/message'">小留言`</a>
	 	</div>
	 </div>

</body>
</html>